@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

section {
  padding: 100px;
  background: #111;
  height: 100vh;
}

section header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000000;
}

section header .logo {
  position: relative;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transform: scale(0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.menu.active {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}

.menu__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu__item {
  list-style: none;
  margin: 20px;
  transition: 0.3s;
}

.menu__link {
  text-decoration: none;
  color: #fff;
  font-size: 3em;
}

.menu__item:hover{
  transform: scale(1.5);
  transition: 0.3s;
}

section header .toggle {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(../img/menu.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

section .container {
  position: absolute;
  display: flex;
  height: calc(100% - 200px);
  width: calc(100% - 200px);
  z-index: 100;
}

section .container .box {
  position: relative;
  width: 25%;
  height: 100%;
  overflow: hidden;
  border-right: 10px solid #111;
}

section .container .box:last-child {
  border-right: none;
}

section .container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  opacity: 0.5;
  transition: 0.5s;
}

section .container .box .imgBx.active {
  position: fixed;
  top: 100px;
  left: 100px;
  height: calc(100% - 200px);
  width: calc(100% - 200px);
  z-index: 1000;
  opacity: 1;
  filter: grayscale(0);
}

section .container .box .imgBx:hover {
  opacity: 1;
  filter: grayscale(0);
}

section .container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 40%;
}

section .container .box:nth-child(3) .imgBx img {
  object-position: center;
}

section .container .box .imgBx.active img {
  object-position: top;
}

.imgBx.active .imgText {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px #111;
  font-size: 10vh;
  background: rgba(0, 0, 0, 0.3);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000000;
}

.footer .sci {
  position: relative;
  display: flex;
}

.footer .sci li {
  list-style: none;
}

.footer .sci li a {
  color: #555;
  text-decoration: none;
  margin-right: 20px;
}

.footer .sci li a:hover {
  color: #fff;
}

.footer .copyrightText {
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}

.footer .copyrightText:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

@media (max-width: 900px) {
  section .container {
    flex-wrap: wrap;
  }

  section .container .box {
    width: 50%;
    height: auto;
    border: 10px solid #111;
    border-right: none;
  }
}

@media (max-width: 600px) {
  section {
    padding: 50px 20px;
  }

  section header {
    padding: 20px 50px;
    height: 50px;
  }

  section header .logo {
    font-size: 16px;
  }

  section .container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 100px);
    width: calc(100% - 50px);
  }

  section .container .box {
    width: 100%;
  }

  section .container .box .imgBx.active {
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  section .container .box:nth-child(3) .imgBx.active img {
    object-position: 50% top;
  }

  section .container .box .imgBx img {
    object-position: center 10%;
  }

  section .container .box .imgBx.active img {
    object-position: 40% top;
  }


  .footer {
    padding: 0 50px;
    height: 50px;
    font-size: 0.7em;
  }
}
